@import "tailwindcss";
@config "../tailwind.config.js";

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.no-srollbar{
  -ms-overflow-style:none;
  scrollbar-width: none
}

.undercont {
  display: grid;
  place-content: center;
  width: 100%;
}

button {
  cursor: pointer;
}


