@import "tailwindcss";
@config "../tailwind.config.js";

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.undercont{
  display: grid;
  place-content: center;
  width: 100%;
}

button{
  cursor: pointer;
}
